.container-fluid {
    height: 100%;
}

.mb-3 {
    margin: 2%;
}

.btn {
    width: 6rem;
}

h2 {
    text-align: center;
    font-weight: bold;
    color: #28A745;
}

h4 {
    text-align: center;
    font-weight: bold;
    color: #28A745;
}

.modal-header {
    background: #28A745;
}

label {
    margin-top: 1%;
    margin-bottom: 1%;
    color: #28A745;
}

.item {
    width: 10rem;
}

table {
    margin-bottom: 5rem;
}